body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #E6392F;
    width: 100%;
    position: fixed;
    z-index: 1;
    min-height: 150px;
    

}
.my-container{
   width: 100%;
   margin:  0 auto;
   display: flex;
   justify-content:space-around;
   align-items: center;
   height: 150px;
   @media (max-width:1440px) {
    width: 100%;
    justify-content: space-evenly;
   }
   @media (max-width:1024px) {
    width: 100%;
   }

}
.logo{
    margin-top: 10px;
    width: 60px;
}
nav ul {
width: 100%;
list-style: none;
display: flex;
gap: 90px;
@media (max-width:1024px){
    width: 100%;
    gap: 100px;
}
@media (max-width:412px) {
    display: none;
}
@media (max-width:853px) {
    width: 100%;
    gap:  55px;
}
 @media (max-width:540px) {
        display: none;;
    }
 @media (max-width:912px) {
        width: 100%;
        gap: 70px;
    }
     @media (max-width:820px) {
        width: 100%;
        gap: 60px;
    }
       @media (max-width:768px) {
        width: 100%;
        gap: 40px;
    }
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
nav a:hover{
    color: red;
}
.logo-text{
    color: red;
    font-size: 23px;
}

.dropdown {
  position: relative;
  display: none;
    @media (max-width:412px) {
        display: inline-block;
    }
     @media (max-width:540px) {
        display: inline-block;
    }
}

.button {
  padding: 10px 20px;
  background: red;
  width: 71px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #E6392F;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: gray;
}

/* checkbox ტექნიკა */
#toggle {
  display: none;
}

#toggle:checked + .button + .dropdown-content {
  display: block;
}
.section1{
    width: 100%;
    height: 700px;
    position: relative;
    text-align: center;

}
.pizza-on-board{
    width: 100%;
    height: 700px;
      @media (max-width:412px){
        
        height: 850px;
    }
    @media (max-width:360px){
         height: 900px;
    }
  
}
.main{
    height: 410px;
    text-align: center;
    background-color: #E6392F;
    width: 450px;
    top: 47%;
    left: 33%;
    position: absolute;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
     @media (max-width:1940px) {
        left: 38%;
    }
    @media(max-width:1440px){
        left: 33%;
    }
      @media (max-width:1024px){
        left: 29%;
    }
      @media (max-width:912px){
        left: 25%;
    }
      @media (max-width:820px){
        left: 24%;
    }
      @media (max-width:768px){
        left: 23%;
    }
     @media (max-width:540px){
        width: 400px;
        height: 460px;
        left: 15%;
    }
     @media (max-width:412px){
        width: 340px;
        height: 550px;
        left: 10%;
    }
      @media (max-width:360px){
        width: 290px;
        height: 630px;
        top: 60%;
        left: 8%;
    }
     @media (max-width:430px){
        width: 320px;
        height: 600px;;
    }
        @media (max-width:375px){
        top: 60%;
    }
    @media (max-width:344px){
        left: 4%;
    }

   
}
.section2{
    margin-top: 10%;
    width: 100%;
    height: 700px;
    background-image: url(../images/piza-blar.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      @media (max-width:412px){
        height: 850px;
        margin-top: 50%;
    }
    @media (max-width:540px){
        margin-top: 20%;
    }
   
            @media (max-width:430px){
         margin-top: 60%;
    }
      @media (max-width:360px){
         margin-top: 100%;
         height: 650px;
    }
      @media (max-width:375px){
         margin-top: 90%;
    }
    @media (max-width:344px){
        margin-top: 100%;
    }

}
.section2 h1{
    color: white;
    font-size: 70px;
    font-weight: 900;
     @media (max-width:360px){
          font-size: 50px;
    }
}
.txts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.p1{
    padding-right: 15%;
    font-size: 30px;
    color: white;
     @media (max-width:1940px) {
        font-size: 30px;
    }
     @media (max-width:768px){
        font-size: 20px;
    }
     @media (max-width:540px){
        font-size: 15px;
    }
    @media (max-width:412px){
        font-size: 13px;
    }
        @media (max-width:360px){
         font-size: 12px;
    }
}
.txt-centr{
    font-size: 30px;
    color: white;
    @media (max-width:1940px) {
        font-size: 30px;
    }
     @media (max-width:768px){
        font-size: 20px;
    }
     @media (max-width:540px){
        font-size: 15px;
    }
      @media (max-width:412px){
        font-size: 13px;
    }
    @media (max-width:360px){
         font-size: 12px;
    }
}
.lft-p{
    margin-right: 2%;
    color: white;
    font-size: 30px;
    @media (max-width:1940px){
        margin-right: 5%;
    }
      @media (max-width:1440px){
        margin-right: 1%;
    }
    @media (max-width:1024px){
        margin-right: -3%;
    }
      @media (max-width:912px){
        margin-right: -6%;
    }
      @media (max-width:820px){
        margin-right: -8%;
    }
     @media (max-width:768px){
        font-size: 20px;
        margin-right: -1%;
    }
     @media (max-width:540px){
        font-size: 15px;
        margin-right: -2%;
    }
      @media (max-width:412px){
        font-size: 13px;
    }

    @media (max-width:360px){
         font-size: 12px;
         margin-right: -8%;
    }
}
.map{
    height: 500px;
    width: 100%;
    margin-top: 10px;
    
}
.map iframe{
    width: 100%;
    height: 500px;
    
    
}
footer{
    background-color: #E6392F;
}
.fot{
    width: 100%;
    height: 200px;
    margin-top: -1.58%;
 
     @media (max-width:540px) {
        height: 400px;
    }
    @media (max-width:360px){
        margin-top: -6%;
    }
     @media (max-width:430px){
         margin-top: -7%;
    }
    @media (max-width:540px){
        margin-top: -3.4%;
    }
    @media (max-width:414px) {
        height: 400px;
        margin-top: -5%;
    }
}
.fot h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}
.bysaba{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media  (max-width:412px) {
        flex-direction: column;
    }
     @media (max-width:540px) {
        flex-direction: column;
    }
}
.bysaba h1{
     color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.res{
    text-align: center;
}
.res h1{
     color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

