body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #E6392F;
    width: 100%;
    min-height: 150px;
    position: fixed;
    z-index: 1;
  
}
.my-container{
   width: 100%;
   display: flex;
   margin: 0 auto;
   justify-content:space-around;
   align-items: center;
   height: 150px;
   @media (min-width:1500px)  and (max-width:1990px){
    width: 100%;
    justify-content: space-evenly;
   }
   @media (max-width:1440px) {
    width: 100%;
    justify-content: space-evenly;
   }
   @media (max-width:1024px) {
    width: 100%;
   }
}
.logo{
    margin-top: 10px;
    width: 60px;
}
nav ul {
width: 100%;
list-style: none;
display: flex;
gap: 90px;
@media (max-width:1024px){
    width: 100%;
    gap: 100px;
}
@media (max-width:412px) {
    display: none;
}
@media (max-width:853px) {
    width: 100%;
    gap:  55px;
}
 @media (max-width:540px) {
        display: none;;
    }
 @media (max-width:912px) {
        width: 100%;
        gap: 70px;
    }
     @media (max-width:820px) {
        width: 100%;
        gap: 60px;
    }
       @media (max-width:768px) {
        width: 100%;
        gap: 40px;
    }
}

.dropdown {
  position: relative;
  display: none;
    @media (max-width:412px) {
        display: inline-block;
    }
     @media (max-width:540px) {
        display: inline-block;
    }
}

.button {
  padding: 10px 20px;
  background: red;
  width: 71px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #E6392F;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: gray;
}

/* checkbox ტექნიკა */
#toggle {
  display: none;
}

#toggle:checked + .button + .dropdown-content {
  display: block;
}

.logo-text{
    color: red;
    font-size: 23px;
}
nav a {
color: white;
text-decoration: none;
font-size: 15px;
}
nav a:hover{
    color: red;
}
.menu{
    margin-top: 160px;
    width: 100%;
    height: 700px; 
}
.menu h1{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.row{
    width: 100%;
    height: 500px;
    background-image: url(../images/backround.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @media (max-width:1024px){
        width: 100%;
    }
    @media (max-width:540px){
        height: 1130px;
    }
}
.row h1{
    font-family: 'Courier New', Courier, monospace;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @media(max-width:1024px){
        gap: 18px;
    }
    @media (max-width:912px){
        gap: 15px;
    }
    @media (max-width:853px){
        gap:5px;
    }
    @media (max-width:540px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}
.card1{
    width: 230px;
    height: 230px;
    background-color: white;
    border-radius: 20px;
    @media (max-width:912px){
        width: 200px;
        height: 200px;
    } 
    @media (max-width:820px){
        width: 180px;
        height: 230px;
    }   
    
}
.sasm{
    @media (max-width:540px){
        height: 233px ;
    }
}
.card1 img{
    width: 100%;
    height: 115px;
    object-fit: cover;
    transform: translate3d(3);
}
.card1:hover{
    transform: scale(1.03);
}

.card1 h2{
    color: rgb(0, 0, 255);
    font-size: 20px;
    padding-left: 5px;
    
}
.card1 h3{
    padding-left: 6px;
    margin-top: -13px;
 
}
.menu h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.row2{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    background-image: url(../images/backround.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;   
    @media (max-width:540px){
        height: 1140px;
    }
}
.row2 h1{
    font-family: 'Courier New', Courier, monospace;
}
.rwh{
    @media (max-width:540px){
        height: 1150px;
    }
}
footer{
    background-color: #E6392F;
}
.fot{
    width: 100%;
    height: 200px;
    margin-top: -25px;
    @media (max-width:412px) {
        height: 600px;
    }
     @media (max-width:540px) {
        height: 400px;
    }
}
.fot h1{
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}
.bysaba{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media  (max-width:412px) {
        flex-direction: column;
    }
     @media (max-width:540px) {
        flex-direction: column;
    }
}
.bysaba h1{
     color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.res{
    text-align: center;
}
.res h1{
     color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

